{% extends "objetivos/base1.html" %}

{% block content %}
<header><h1>Editar Objetivo</h1></header>
<main>
    <form method="POST">
        {% csrf_token %}
        <br>
        <label for="campo_nome">Nome:</label>
        <input type="text" name="nome_objetivo" id="campo_nome" value="{{ objetivo.Nome }}" placeholder="Digite o nome do objetivo">
        <br>
        <label for="campo_descricao">Descrição:</label>
        <br>
        <br>
        <textarea name="descricao_objetivo" id="campo_descricao" rows="10" cols="40" maxlength="500">{{ objetivo.Descrição }}</textarea>
        <br>
        <br>
        <label for="campo_status">Status:</label>
        <select name="status" id="campo_status">
            <option value="pendente" {% if objetivo.Status == "pendente" %}selected{% endif %}>Pendente</option>
            <option value="ativa" {% if objetivo.Status == "ativa" %}selected{% endif %}>Ativa</option>
            <option value="completa" {% if objetivo.Status == "completa" %}selected{% endif %}>Completa</option>
        </select>
        <br>
        <br>
        <button type="submit">Salvar</button>
    </form>
</main>
{% endblock content %}