{% extends "login/base.html" %}

{% block content %}
<header><h1>Login</h1></header>
<main>
    <form method="POST">
        {% csrf_token %}
        <br>
        <label for="campo_email">E-mail:</label>
        <input type="email"  name="email" id="campo_email" placeholder="Digite seu E-mail">
        <br>
        <label for="campo_senha">Senha:</label>
        <input type="password"  name="senha" id="campo_senha" placeholder="Digite sua senha">
        <br>
        <br>    
        <button type="submit">Enviar</button>
        <br>
        <br>
        <a href="{% url 'criar_usuario' %}">Cadastrar-se</a>
    </form>
</main>
{% endblock content %}